html, body {
  overflow: scroll;
}

.appTitle {
  color: #4477CC;
  font-family: 'Raleway', sans-serif;
  /*border: 1px solid #E8F7EE;*/
  padding: 1px 15px 5px 15px;
  /*border-radius: 6px;*/
  border-top: solid 0.1px #333333;
  border-bottom: solid 0.1px #333333;
  /*box-shadow: 2px 2px 1px #E8F7EE;*/
  cursor: pointer;
}

.navbar {
  /*background-color: #011936;*/
  background: #222222;
  border: black;
}

body {
  height: 100vh;
  /*background: linear-gradient(to right, #13262F, #4F5D75);*/
  background: #222222;
}

main {
  /*width:60vw;
  margin: 1vw auto;*/
}

.btn-blue {
  background: #6699FF;
  color:#EEEEEE;
  margin: 1vw auto;
  text-align: center;
}

.roomsHeader {
  font-family: 'Raleway', sans-serif;
  color: #E8F7EE;
  text-align: center;
  /*text-shadow: 2px 2px 3px #000000;*/
}

.roomCard:hover {
  /*box-shadow: 6px 6px 5px #000000;*/
}

.panel-heading {
  /*color: white !important;*/
  /*background: linear-gradient(to right, #13262F, #4F5D75)*/
  background: #222222;
  color: #EEEEEE;
}

.panel-body {
  /*background-color: #C9D6EA;*/
  background: #222222;
  color: #DDDDDD;
}

.joinButton {
  /*box-shadow: 2px 2px 1px #13262F;*/
}

.modal-content {
  width: 50%;
  margin: auto;
  background: #222222;
  color: #EEEEEE;
}

.modal-header {
  /*background: linear-gradient(to right, #13262F, white);*/
  background: #222222;
}

.modal-title {
  color: #E8F7EE;
}

.landingPageHeader {
  font-family: 'Raleway', sans-serif;
  color: #E8F7EE;
  text-align: center;
  text-shadow: 2px 2px 3px #000000;
}

.roomsButton {
  margin: 30% 0 0 45%;
  box-shadow: 2px 2px 1px #13262F;
  color: black;
  background-color: #CAFFB9;
}


/*
    Game Room
  */

.gameroomHeader {
  font-family: 'Raleway', sans-serif;
  color: #E8F7EE;
}

.questions {
  font-family: 'Raleway', sans-serif;
  color: #E8F7EE;
}

.answers {
  font-family: 'Raleway', sans-serif;
  color: #E8F7EE;
}

.gameboard {
  display: flex;
  /*justify-content:*/
}

.players {
  padding: 5%;
  min-width: 30%;
}

.user-area {
  clear: both;
}

.user-display {
  background-color: black;
}
