<div class = "container" style = "float:left;">
<a style = "margin:1vw;" style = "cursor: pointer;" ui-sref="home">Back</a>
</div>

<div class="container" style = "border:solid 0px #333333;">

  <h2 class="roomsHeader">Rooms Available: </h2><br>
  <div class="rooms col-xs-12" ng-repeat="room in $ctrl.rooms">
    <div class="roomCard" style = "border-bottom: solid 2px #333333;">
      <div class="panel-heading" style = "background:#222222;">
        <p style = "float:left; font-size:2rem;">{{room.name}}</p>
        <p style = "float:right;">
          {{room.max_numplayers}} players
        </p>
      </div>
      <div class="panel-body">


        <input id="first" ng-model="$ctrl.username" placeholder="Enter your username..." class="form-control" autocomplete = "off" ng-required>

        <br>
        <!-- <button class = "btn btn-blue" type="button" ui-sref = "gameroom" ng-click="$ctrl.joinRoom(room)">JOIN</button> -->
        <button class = "btn btn-blue" type="button" ng-click="$ctrl.joinRoom(room)">JOIN</button>


      </div>
    </div>
  </div>
</div>
