<div class="container">
  <h2 class="roomsHeader">Rooms Available: </h2>
  <p style="color:#AAAAAA;">{{$ctrl.serverService.message}}</p>
  <div class="rooms col-xs-6" ng-repeat="room in $ctrl.rooms">
    <div class="roomCard panel panel-default">

      <div class="panel-heading">
        <p class="roomNames">{{room.name}}</p>
      </div>
      <div class="panel-body">
        <p>
          Players: {{room.max_numplayers}}
        </p>

        <input id="first" ng-model="room.username" class="form-control" required>
      </br>

        <button type="button" class="btn btn-success" ui-sref="gameroom" ng-click="$ctrl.joinRoom(room)">JOIN</button>

      </div>
    </div>
  </div>
</div>
