<div class="container" style = "border:solid 0px #333333;">
  <h2 class="roomsHeader">Rooms Available: </h2><br>
  <div class="rooms col-xs-12" ng-repeat="room in $ctrl.rooms">
    <div class="roomCard" style = "border-bottom: solid 2px #333333;">
      <div class="panel-heading">
        {{room.name}}
      </div>
      <div class="panel-body">
        <p>
          Players: {{room.max_numplayers}}
        </p>

        <input id="first" ng-model="$ctrl.username" class="form-control" autocomplete = "off" required>
        <br>
        <button class = "btn btn-blue" type="button" ui-sref = "gameroom" ng-click="$ctrl.joinRoom(room)">JOIN</button>

      </div>
    </div>
  </div>
</div>
